<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>fault_report</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>web.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserListServlet</display-name>
    <servlet-name>UserListServlet</servlet-name>
    <servlet-class>web.servlet.UserListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserListServlet</servlet-name>
    <url-pattern>/showalluser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserDeleteServlet</display-name>
    <servlet-name>UserDeleteServlet</servlet-name>
    <servlet-class>web.servlet.UserDeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserDeleteServlet</servlet-name>
    <url-pattern>/UserDeleteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserEditServlet</display-name>
    <servlet-name>UserEditServlet</servlet-name>
    <servlet-class>web.servlet.UserEditServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserEditServlet</servlet-name>
    <url-pattern>/UserEditServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserSaveServlet</display-name>
    <servlet-name>UserSaveServlet</servlet-name>
    <servlet-class>web.servlet.UserSaveServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserSaveServlet</servlet-name>
    <url-pattern>/UserSaveServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserAddServlet</display-name>
    <servlet-name>UserAddServlet</servlet-name>
    <servlet-class>web.servlet.UserAddServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserAddServlet</servlet-name>
    <url-pattern>/UserAddServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FaultAddServlet</display-name>
    <servlet-name>FaultAddServlet</servlet-name>
    <servlet-class>web.servlet.FaultAddServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FaultAddServlet</servlet-name>
    <url-pattern>/FaultAddServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FaultListServlet</display-name>
    <servlet-name>FaultListServlet</servlet-name>
    <servlet-class>web.servlet.FaultListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FaultListServlet</servlet-name>
    <url-pattern>/showallfault</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FaultDeleteServlet</display-name>
    <servlet-name>FaultDeleteServlet</servlet-name>
    <servlet-class>web.servlet.FaultDeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FaultDeleteServlet</servlet-name>
    <url-pattern>/FaultDeleteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FaultEditServlet</display-name>
    <servlet-name>FaultEditServlet</servlet-name>
    <servlet-class>web.servlet.FaultEditServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FaultEditServlet</servlet-name>
    <url-pattern>/FaultEditServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FaultListSimpleServlet</display-name>
    <servlet-name>FaultListSimpleServlet</servlet-name>
    <servlet-class>web.servlet.FaultListSimpleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FaultListSimpleServlet</servlet-name>
    <url-pattern>/showfaultsimple</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FaultDetailServlet</display-name>
    <servlet-name>FaultDetailServlet</servlet-name>
    <servlet-class>web.servlet.FaultDetailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FaultDetailServlet</servlet-name>
    <url-pattern>/showfaultdetail</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FaultSaveServlet</display-name>
    <servlet-name>FaultSaveServlet</servlet-name>
    <servlet-class>web.servlet.FaultSaveServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FaultSaveServlet</servlet-name>
    <url-pattern>/FaultSaveServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FaultAssignInfo</display-name>
    <servlet-name>FaultAssignInfo</servlet-name>
    <servlet-class>web.servlet.FaultAssignInfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FaultAssignInfo</servlet-name>
    <url-pattern>/showfaultAssignInfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FaultAssignServlet</display-name>
    <servlet-name>FaultAssignServlet</servlet-name>
    <servlet-class>web.servlet.FaultAssignServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FaultAssignServlet</servlet-name>
    <url-pattern>/assignissue</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FaultAssignSaveServlet</display-name>
    <servlet-name>FaultAssignSaveServlet</servlet-name>
    <servlet-class>web.servlet.FaultAssignSaveServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FaultAssignSaveServlet</servlet-name>
    <url-pattern>/saveassign</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>web.servlet.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FaultAssignerServlet</display-name>
    <servlet-name>FaultAssignerServlet</servlet-name>
    <servlet-class>web.servlet.FaultAssignerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FaultAssignerServlet</servlet-name>
    <url-pattern>/adminisassign</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FaultAssignDeleteServlet</display-name>
    <servlet-name>FaultAssignDeleteServlet</servlet-name>
    <servlet-class>web.servlet.FaultAssignDeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FaultAssignDeleteServlet</servlet-name>
    <url-pattern>/FaultAssignDeleteServlet</url-pattern>
  </servlet-mapping>
</web-app>